<input type="hidden" value="{{ project.id }}" name="project_id">
<div class="control-group">
	<label class="control-label">
		Namn
	</label>
	<div class="controls">
		{{ form.name }}
	</div>
</div>

<div class="control-group">
	<label class="control-label">
		Beskrivning
	</label>
	<div class="controls">
		{{ form.description }}
	</div>
</div>

<div class="control-group">
	<label class="control-label">
		Status
	</label>
	<div class="controls">
		{{ form.status }}
	</div>
</div>

<div class="action">
	<input type="submit" value="Spara ticket" class="btn btn-large btn-primary">
</div>