<div class="row-fluid">
	<div class="span3">
		<div class="well sidebar-nav">
			<ul class="nav nav-list">
				<li class="nav-header">Dina projekt</li>
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li class="nav-header">Dina senaste 10 tickets</li>
				<li>4</li>
				<li>5</li>
				<li>6</li>
			</ul>
		</div>
	</div>

	<div class="span9">
		<div class="hero-unit">
			<h2>Välkommen till Project Manager</h2>
			<p>Här kan du välja dina projekt eller tickets</p>
		</div>
	</div>
</div>
