<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">Dina projekt</li>
			<% @user.projects.each do |project| %>
				<li>
					<%= link_to project.name, project %>
					<% if project.owner_id == @user.id %>
						<span class="label label-success">
							Admin
						</span>
					<% else %>
						<span class="label">
							Medlem
						</span>
					<% end %>
				</li>
			<% end %>
			</table>
			<li class="nav-header">Dina senaste 10 tickets</li>
			<% @user.tickets.each do |ticket| %>
				<li>
					<%= link_to ticket.name, project_path(ticket.project.id) + ticket_path(ticket) %>
				</li>
			<% end %>
		</ul>
	</div>
</div>