<div class="row-fluid">
	<%= render "layouts/projects_navbar" %>
	<div class="span9">
		<div class="hero-unit">
			<h2>Redigera ticket:
				<%= @ticket.name %>
			</h2>
			<p>
				<%= render "form" %>
			</p>
		</div>
	</div>
</div>