<div class="row-fluid">
	<%= render "layouts/projects_navbar" %>
	<div class="span9">
		<div class="hero-unit">
			<h1>Skapa ett nytt projekt</h1>
			<p>
				<%= render "form" %>
			</p>
		</div>
	</div>
</div>