<div class="row-fluid">
	<%= render "layouts/projects_navbar" %>
	<div class="span9">
		<div class="hero-unit">
			<h2><%= @project.name %></h2>
			<% if @user.id == @project.owner_id %>
				<%= link_to 'Redigera', edit_project_path, :class => "btn btn-primary" %>
				<%= link_to 'Ta bort projektet', @project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
			<% end %>
		</div>
	</div>
</div>