{% extends "shared/base.html" %}

{% block main_content %}
	<div class="row-fluid">
		{% include "shared/projects_navbar.html" %}
		<div class="span9">
			<div class="hero-unit">
				<h2>Redigera ticket: <i>{{ ticket.name }}</i></h2>
				<p>
					{% include "shared/error_messages.html" %}
					<form action="{% url 'AMPTA:edit_ticket' project.id ticket.id %}" method="post">
						{% csrf_token %}
						{% include "shared/ticket_form.html" %}
					</form>
				</p>
			</div>
		</div>
	</div>
{% endblock %}