{% extends "shared/base.html" %}
{% load custom_filters %}

{% block main_content %}
	<div class="row-fluid">
		{% include "shared/projects_navbar.html" %}
		<div class="span9">
			<div class="hero-unit">
				<h2>{{ ticket.name }}</h2>
				<p>
					<strong>Beskrivning: </strong>
					<br/>
					{{ ticket.description }}
				</p>
				<p>
					<strong>Ägare: </strong>
					<br/>
					{{ ticket.owner.username }}
				</p>
				<p>
					<strong>Status: </strong>
					<br/>
					{{ ticket.status.status_name }}
				</p>
				<p>
					
				</p>
				{% if ticket|ownership:user.id or ticket.project.owner.id == user.id %}
					<a href="{% url 'AMPTA:edit_ticket' ticket.project.id ticket.id %}" class="btn btn-primary">Redigera ticket</a>
					<a href="{% url 'AMPTA:delete_ticket' ticket.project.id ticket.id %}" class="btn btn-danger">Ta bort ticket</a>
				{% endif %}
				<p>
					<a href="{% url 'AMPTA:show_project' ticket.project.id %}">Tillbaka</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}